@CHARSET "UTF-8";

/*padding trbl vh*/

html, body {
    background-color: #d6e5b8;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    border: 0;
}

input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px ridge #495198;
    font-size: 14px;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

button {
    background-color: #c4d1b1;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    border: 2px ridge #8e967e;
    border-radius: 5px;
    color: #4d5b35;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 10px;
}

button:enabled:HOVER {
    background-color: #d6dfc8;
}

button:enabled:active {
    background-color: #4d5b35;
    color: #c4d1b1
}

button:disabled {
    opacity: 0.5;
}

.image-host {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    width: 100%;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, serif;
    text-align: center;
}

.site-title {
    margin-top: 40px;
    /*margin-bottom: 40px;*/
    width: 100%;
    color: #150977;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, serif;
    text-align: center;
}

.photo-exists {
    /*margin-top: 40px;*/
    margin-bottom: 5px;
    width: 100%;
    color: #d90606;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: Arial, serif;
    text-align: center;
}

div.ourImages {
    text-align: center;
}

div.expandedDiv {
    display: none;
    position: fixed;
    /*padding-top: 5px;*/
    width: 1034px;
    left: 50%;
    margin-left: -547px;
    height: 760px;
    top: 10%;
    background: rgba(202, 234, 239, 0.80);
    border: 3px solid #0e3a8d;
    z-index: 20;
    text-align: center;
}

div#expandedDiv:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

div#expandedDiv:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(202, 234, 239, 0.80);
    z-index: -1;
}

button.close-button {
    padding: 1px 6px 0 6px;
    border-radius: 50%;
    background-color: #770937;
    color: #FFF;
}

button.close-button:HOVER {
    background-color: #b95680;
}

div.del-left-part {
    border: 2px solid rgba(202, 234, 239, 0.80);
    /*width: 300px;*/
    position: relative;
    float: left;
}

div.del-btn {
    /*height: 22px;*/
    float: left;
    position: absolute;
    right: 0;
    bottom: 4px;
    z-index: 10;
    background-color: #770937;
    padding: 0 3px 0 3px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}